*{
    margin: 0px;
    padding: 0px;
}
img{
    height: 30px;
    position: absolute;
    left: 210px;
}
body{
    background-image:linear-gradient(360deg,transparent,rgba(60, 5, 5, 0.5)), url("./sunback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* opacity: 0.5; */
}
.a{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: antiquewhite;
    position: relative;
    top: 30px;
}
.child{
    background-color: rgb(44, 43, 43);
    opacity: 0.8;
    max-width: 450px;
    height: 380px;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 400px;
    top: 150px;
    border-radius: 5px;
}
input{
    position: relative;
    top: 65px;
    left: 40px;
    border: none;
    border-bottom: 2px solid springgreen;
    max-height: 30px;
    max-width: 350px;
    padding: 3px 6px;
    padding-right: 63px;
    outline: none;
    background-color: rgb(44, 43, 43);
    color: antiquewhite;
}
#fa{
    color: antiquewhite;
    position: relative;
    top: 65px;
    left: 15px;
    cursor: pointer;
}
.ff{
    position: absolute;
    top: 130px;
    left: 40px;
    pointer-events: none;
    color: antiquewhite;
}
.bb{
    position: absolute;
    top: 190px;
    left: 40px;
    color: antiquewhite;
}
p{
    padding: 68px 80px;
    float: right;
}
a{
    color: beige;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    color: red;
}
button{
    position: absolute;
    bottom: 55px;
    left: 120px;
    padding: 10px 80px;
    font-size: larger;
    background-color: rgb(243, 37, 37);
    border-style: inherit;
    border-radius: 10px;
    cursor: pointer;
    color: #dfdbdb;
}
.signup{
    position: absolute;
    left: 190px;
    padding: 10px 80px;
    bottom: 17px;
    color: rgb(229, 166, 5);
}
h5{
    position: absolute;
    color: antiquewhite;
    left: 56px;
    padding: 10px 80px;
    bottom: 23px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}